*,
*:hover *::after *::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #ff672b;
  --primary-color-alt: #ff4141;
  --secondary-color: #ff672b;
  --secondary-color-alt: #ff4141;

  /* --primary-color: #ff4b2b;
  --primary-color-alt: #ff416c;
  --secondary-color: rgb(0, 119, 255);
  --secondary-color-alt: #2b40ff;
  --primary-color: rgb(0, 119, 255);
  --primary-color-alt: #2b40ff;
  --secondary-color: rgb(0, 119, 255);
  --secondary-color-alt: #2b40ff; */
}

::-webkit-scrollbar {
  width: 0.65em;
  height: 1em;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: rgb(24, 24, 24);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  background: -webkit-linear-gradient(
    180deg,
    var(--primary-color),
    var(--primary-color-alt)
  );
  background: linear-gradient(
    180deg,
    var(--primary-color),
    var(--primary-color-alt)
  );
  border-radius: 10px;
  border: none;
  /* box-shadow: 0em 0em 30px #006eff, 0em 0em 10px #006eff, 0em 0em 5px #ffffff; */
}

@supports (scrollbar-color: var(--primary-color) rgb(24, 24, 24)) {
  * {
    scrollbar-color: var(--primary-color) rgb(24, 24, 24);
    scrollbar-width: thin;
  }
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
  position: relative;
  z-index: -1;
  background: #1a1a1a;
}
